<tr data-root-target="listItem" aria-selected="false" class="flex items-center gap-x-2.5 w-full h-[44px] px-6 border-b border-neutral-800/40 hover:bg-neutral-800/40 aria-selected:bg-neutral-800/40">
  <td>
    <%= render 'medium_profile_placeholder', color: [ "amber", "blue", "green", "purple", "red" ].sample.to_sym, name: message.sender_name.first %>
  </td>
  <td class="w-24 truncate">
    <p class="text-xs"><%= message.sender_name %></p>
  </td>
  <td>
    <p class="text-xs text-neutral-400"><%= message.subject %></p>
  </td>
  <td class="flex-grow">
    <p class="text-xs font-medium"><%= message.body %></p>
  </td>
  <td>
    <p class="text-xs font-light text-neutral-400"><%= format_date(message.created_at) %></p> 
  </td>
</tr>

